# Database Configuration
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432

# Django Secret Key
SECRET_KEY=django-insecure-8y1e3v3e7@pvro4sm-uuq^$c=_brr5=ue6skonc36dx2f22+7u

# Debug Mode (set to False in production)
DEBUG=True

# Allowed Hosts (comma-separated)
ALLOWED_HOSTS=localhost,127.0.0.1
